@mixin stockpiles-show-images-and-thumbnails {
  margin-bottom: 10px;
  h2 {
    @extend .row;
  }
  section {
    @extend .row;
    padding-left: 0px;
  }
  nav {
    @extend .col-lg-2;
    a {
      @extend .btn;
      @extend .btn-sm;
      @extend .btn-default;
      @extend .btn-block;
    }
    i {
      @extend .fa;
    }
    i[class*=up] {
      @extend .fa-arrow-up;
    }
    i[class*=down] {
      @extend .fa-arrow-down;
    }
  }
  figure {
    @extend .col-lg-2;
    text-align: center;
    img { 
      @extend .img-thumbnail;
    }
  }
}