@import 'itps/shared/variables';
@import 'itps/shared/header';
@import 'itps/shared/main';
@import 'itps/shared/footer';
@import 'itps/shared/flash';
@import 'itps/shared/hero_banner';
@import 'shared/important';
@import 'itps/shared/errors';
@import 'itps/shared/cookiecrumbs';
@import 'itps/shared/generic_form';
body {
  @include shared-important;
  background: $actual-background-color;
  padding: 0px;
  button, a[type=reset] {
    @extend .btn;
    &[type=submit] {
      @extend .btn-block;
      @extend .btn-primary;
    }
    &[type=reset] {
      @extend .btn-block;
      @extend .btn-default;
    }
    i {
      @extend .fa;
      &.submit {
        @extend .fa-check;
      }
      &.reset {
        @extend .fa-ban;
      }
    }
  }
  .parantheses {
    &:before {
      content: "(";
    }
    &:after {
      content: ")";
    }
  }
  #generic-form {
    @include shared-generic_form;
  }
  #the-flash {
    @include shared-flash;
  }
  #error-explanation {
    @include shared-errors;
  }
  #cookie-crumbs {
    @include shared-cookiecrumbs;
  }
  #hero-banner {
    @include shared-hero-banner;
  }
  header {
    @include shared-header;
  }
  main {
    @include shared-main;
  }
  footer {
    @include shared-footer;
  }
  #misc-invisible-crap {
    display: none;
  }
}
