@mixin shared-header {
  @extend .navbar;
  @extend .navbar-inverse;
  border-radius: 0px;
  section {
    @extend .container;
    nav {
      article {
        @extend .navbar-header;
        a {
          @extend .navbar-brand;
          padding-left: 0px;
          color: #fff;
          font-weight: bold;
        }
      }
      ul {
        @extend .nav;
        @extend .navbar-right;
        @extend .navbar-nav;
      }
    }
  }
}