.terms.row
  %h2
    Section IV.
    Terms of Payment
  %p
    Subject to the conditions specified in the articles of this section, GTPC, the Escrow Agent, will release funds to the SELLER upon being provided documents proving completion of work by the SELLER.

#escrow-fees.row
  %h3
    Article A.
    Escrow Fees

  %p
    The BUYER and SELLER agree to pay GTPC $140 in Escrow Fees for rendering the Escrow service. The BUYER and SELLER shall split the escrow fees evenly between the two parties except under conditions specified in
    = link_to 'Section V. Terms of Cancellation.'
    Consequently, GTPC will deduct $70 upon the BUYER funding the ESCROW ACCOUNT at the opening of escrow, and once again deduct $70 upon releasing funds to the SELLER at the closing of escrow.
    
#wire-fees.row
  %h3
    Article B.
    Additional Wire Fees
  %p
    Any additional wire, desposit, etc. fees imposed by financial or government institutions is strictly the responsibility of the SELLER or BUYER as specified by that financial or government institution.
