@import 'itps/documents/file';
@mixin itps-documents-show {
  @include itps-documents-file;
  h2 {
    @extend .col-lg-12;
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-xs-12;
    border-bottom: $standard-border;
  }
  i {
    @extend .fa;
  }
  #hero-banner {
    background-color: $highlight-background;
    &.approved {
      background-color: $success-color;
    }
    &.rejected {
      background-color: $warning-color;
    }
    &.waiting_upload {
      background-color: $warning-color;
    }
    &.waiting_approval {
      background-color: $hooray-color;
    }
    &.error {
      background-color: $danger-color;
    }
    &.edit_mode {
      background-color: $edit-color;
    }
    section {
      @extend .container;
      padding-top: 15px;
      padding-bottom: 15px;
      h1 {
        @extend .row;
        padding-left: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-transform: capitalize;
        color: $highlight-textcolor;
      }
      .colon:after {
        content: ":";
      }
    }
  }
  #documents {
    dl {
      padding-left: 15px;
      &.vanilla {
        @extend .col-lg-2;
        @extend .col-md-3;
        @extend .col-sm-3;
        @extend .col-xs-3;
      }
      &.description {
        @extend .col-lg-3;
        @extend .col-md-3;
        @extend .col-sm-6;
        @extend .col-xs-6;
      }
    }
  }
  #document-other-actions {
    ul {
      list-style: none;
      padding-left: 15px;
    }
    i {
      @extend .fa-2x;
      &.back {
        @extend .fa-chevron-left;
      }
      &.edit {
        @extend .fa-edit;
      }
      &.destroy {
        @extend .fa-times;
      }
      &.reject {
        @extend .fa-thumbs-o-down;
      }
      &.approve {
        @extend .fa-check-square-o;
      }
    }
    li {
      @extend .col-lg-2;
      @extend .col-md-3;
      @extend .col-sm-4;
      @extend .col-xs-6;
      @extend .really-bland-thumbnail;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-right: 5px;
      text-align: center;
    }
  }
  #document-form {
    padding-left: 0px;
    dl, p, section {
      @extend .col-lg-7;
      @extend .col-md-8;
      @extend .col-sm-12;
      @extend .col-xs-12;
    }
    input {
      @extend .form-control;
    }
    dd {
      @extend .form-group;
    }
  }
  #document-content {
    @extend .container;
    margin-bottom: 15px;
  }
}