@mixin itps-documents-show {
  #hero-banner {
    background-color: $highlight-background;
    &.approved {
      background-color: $success-color;
    }
    &.rejected {
      background-color: $warning-color;
    }
    &.waiting_upload {
      background-color: $warning-color;
    }
    &.waiting_approval {
      background-color: $hooray-color;
    }
    &.error {
      background-color: $danger-color;
    }
    &.edit_mode {
      background-color: $edit-color;
    }
    section {
      @extend .container;
      padding-top: 15px;
      padding-bottom: 15px;
      h1 {
        @extend .row;
        padding-left: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-transform: capitalize;
        color: $highlight-textcolor;
      }
      .colon:after {
        content: ":";
      }
    }
  }
  #document-content {
    @extend .container;
    margin-bottom: 15px;
    #cookie-crumbs {
      @extend .row;
      ol {
        @extend .col-lg-8;
        @extend .col-md-10;
        @extend .col-sm-12;
        @extend .col-xs-12;
        @extend .breadcrumb;
        margin-top: 15px;
        margin-left: 15px;
      }
    }
    #document-other-actions {
      fieldset {
        @extend .row;
        legend {
          @extend .col-lg-8;
          @extend .col-md-10;
          @extend .col-sm-12;
          @extend .col-xs-12;
          margin-left: 15px;
          padding-left: 0px;
          margin-bottom: 5px;
          border-bottom: $standard-border;
        }
        ul {
          list-style: none;
          padding-left: 15px;
        }
        li {
          @extend .col-lg-2;
          @extend .col-md-3;
          @extend .col-sm-4;
          @extend .col-xs-6;
          @extend .thumbnail;
          text-align: center;
          i {
            @extend .fa;
            @extend .fa-2x;
            &.edit {
              @extend .fa-edit;
            }
            &.destroy {
              @extend .fa-times;
            }
            &.reject {
              @extend .fa-thumbs-o-down;
            }
            &.approve {
              @extend .fa-check-square-o;
            }
          }
        }
      }
    }
    #document-form {
      @extend .row;
      form {
        @extend .col-lg-12;
        fieldset {
          @extend .row;
          legend, section, dl {
            @extend .col-lg-8;
            @extend .col-md-10;
            @extend .col-sm-12;
            @extend .col-xs-12;
          }
          legend {
            margin-left: 15px;
            padding-left: 0px;
            margin-bottom: 5px;
            border-bottom: $standard-border;
          }
          dl {
            dd {
              @extend .form-group;
              i {
                @extend .fa;
                @extend .fa-file-o;
              }
              input {
                @extend .form-control;
              }
              p {
                @extend .help-block;
              }
            }
          }
        }
      }
    }
  }
}