@mixin itps-accounts-escrow {
  @extend .row;
  @extend .thumbnail;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px;
  &.unready {
    i {
      @extend .fa-spinner;
    }
  }
  &.edit_mode {
    i {
      @extend .fa-pencil;
    }
  }
  &.active {
    i {
      @extend .fa-check;
    }
  }
  &.completed {
    i {
      @extend .fa-archive;
    }
  }
  h4 {
    @extend .col-lg-12;
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-xs-12;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: capitalize;
    border-bottom: $standard-border;
  }
  dl {
    @extend .col-lg-4;
    @extend .col-md-4;
    @extend .col-sm-12;
    @extend .col-xs-12;
    margin-top: 5px;
  }
}