@mixin itps-accounts-show {
  #hero-banner {
    background-color: $highlight-background;
    section {
      @extend .container;
      padding-top: 15px;
      padding-bottom: 15px;
      h1 {
        @extend .row;
        padding-left: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-transform: capitalize;
        color: $highlight-textcolor;
      }
      .colon:after {
        content: ":";
      }
    }
  }
  #account-stuff {
    @extend .container;
    section {
      @extend .row;
      #table-of-contents {
        @extend .col-lg-3;
        @extend .col-md-4;
        @extend .col-sm-12;
        @extend .col-xs-12;
        background: #fff;
        margin-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        ul {
          @extend .nav;
          @extend .nav-pills;
          @extend .nav-stacked;
          li {
            a {
              font-size: 16px;
              text-transform: capitalize;
            }
            ul {
              li {
                a {
                  padding-left: 30px;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
      #meat-and-bones {
        @extend .col-lg-9;
        @extend .col-md-8;
        @extend .col-sm-12;
        @extend .col-xs-12;

        h3 {
          border-bottom: $standard-border;
          a {
            @extend .parantheses;
            font-size: 14px;
          }
        }
        #basics, #preferences, #actions {
          @extend .row;
          h3 {
            @extend .col-lg-12;
            @extend .col-md-12;
            @extend .col-sm-12;
            @extend .col-xs-12;
            margin-left: 15px;
            padding-left: 0px;
          }
          dl {
            @extend .col-lg-12;
            @extend .col-md-12;
            @extend .col-sm-12;
            @extend .col-xs-12;
          }
        }
        #actions {
          i {
            @extend .fa;
            @extend .fa-2x;
            &.new-contract {
              @extend .fa-file-text-o;
            }
          }
          ul {
            list-style: none;
            padding-left: 0px;
            li {
              @extend .col-lg-2;
              @extend .col-md-3;
              @extend .col-sm-4;
              @extend .col-xs-6;
              text-align: center;
              a {
                @extend .thumbnail;
                text-transform: capitalize;
                font-weight: bold;
              }
            }
          }
        }
        #contracts {
          @extend .row;
          i {
            @extend .fa;
          }
          #contracts-active, #contracts-in-progress, #contracts-archived {
            @extend .col-lg-12;
            @extend .col-md-12;
            @extend .col-sm-12;
            @extend .col-xs-12;
            ul {
              list-style: none;
              padding-left: 0px;
              li {
                @extend .row;
                @extend .thumbnail;
                padding-right: 0px;
                padding-left: 0px;
                margin: 0px;
                &.unready {
                  i {
                    @extend .fa-spinner;
                  }
                }
                h4 {
                  @extend .col-lg-12;
                  @extend .col-md-12;
                  @extend .col-sm-12;
                  @extend .col-xs-12;
                  padding-bottom: 5px;
                  margin-bottom: 5px;
                  font-weight: bold;
                  text-transform: capitalize;
                  border-bottom: $standard-border;
                }
                dl {
                  @extend .col-lg-4;
                  @extend .col-md-4;
                  @extend .col-sm-12;
                  @extend .col-xs-12;
                  margin-top: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}