@import 'home/index';
@import 'listings/index';
@import 'stockpiles/show';
@import 'listings/offers/new';
@import 'users/sessions/new';
@import 'offers/confirmation';
@import 'offers/show';

@mixin shared-main {
  @extend .col-lg-9;
  h2 {
    margin-top: 10px;
    font-size: 22px;
  }
  #home-index {
    @include home-index;
  }
  #listings-index {
    @include listings-index;
  }
  #stockpiles-show {
    @include stockpiles-show;
  }
  #listings-offers-new {
    @include listings-offers-new;
  }
  #users-sessions-new {
    @include users-sessions-new;
  }
  #offers-confirmation {
    @include offers-confirmation
  }
  #offers-show {
    @include offers-show;
  }
}