@mixin itps-steps-show {
  #hero-banner {
    &.completed {
      background-color: $success-color;
    }
    &.waiting_documents, &.rejected {
      background-color: $warning-color;
    }
    &.error {
      background-color: $danger-color;
    }
    &.needs_approval, &.waiting_final_approval {
      background-color: $hooray-color;
    }
    &.edit_mode {
      background-color: $edit-color;
    }    
    section {
      @extend .container;
      padding-top: 15px;
      padding-bottom: 15px;
      h1 {
        @extend .row;
        text-transform: uppercase;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: bold;
        color: $highlight-textcolor;
        .dash, .colon {
          text-transform: none;
          font-weight: normal;
        }
        .dash:after {
          content: "-";
        }
        .colon:after {
          content: ":";
        }
      }
    }
  }
  i {
    @extend .fa;
    &.back {
      @extend .fa-chevron-left;
    }
    &.edit {
      @extend .fa-edit;
    }
    &.approve {
      @extend .fa-check-circle-o;
    }
    &.document {
      @extend .fa-file-o;
    }
    &.destroy {
      @extend .fa-times;
    }
    &.edit_mode {
      @extend .fa-pencil;
    }
    &.rejected {
      @extend .fa-times;
    }
    &.error {
      @extend .fa-exclamation-triangle;
    }
    &.approved {
      @extend .fa-check;
    }
    &.waiting_upload {
      @extend .fa-upload;
    }
    &.waiting_approval {
      @extend .fa-spinner;
    }
  }
  #basic-information, #executive-actions, #documents {
    h2 {
      @extend .col-lg-12;
      margin-left: 15px;
      padding-left: 0px;
      margin-top: 0px;
      border-bottom: $standard-border;
    }
  }
  #basic-information {
    @extend .row;
    dl {
      @extend .col-lg-6;
      @extend .col-md-6;
      @extend .col-sm-12;
      @extend .col-xs-12;
    }
  }
  #executive-actions {
    @extend .row;
    i {
      @extend .fa-2x;
    }
    a {
      @extend .thumbnail;
      text-align: center;
    }
    li {
      @extend .col-lg-2;
      @extend .col-md-3;
      @extend .col-sm-4;
      @extend .col-xs-12;
    }
    ul {
      list-style: none;
      padding-left: 0px;
    }
  }
  #documents {
    @extend .row;
    margin-bottom: 20px;
    .parantheses {
      @extend .col-lg-12;
    }
    i {
      padding: 5px;
      border-radius: 5px;
    }
    h4.document {
      padding-left: 10px;
      text-transform: capitalize;
      margin-top: 0px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: $highlight-textcolor;
      &.edit_mode {
        background-color: $edit-color;
      }
      &.rejected {
        background-color: $danger-color;
      }
      &.error {
        background-color: $danger-color;
      }
      &.approved {
        background-color: $success-color;
      }
      &.waiting_upload {
        background-color: $warning-color;
      }
      &.waiting_approval {
        background-color: $hooray-color;
      }
    }
    li {
      @extend .col-lg-3;
      @extend .col-md-6;
      @extend .col-sm-12;
      @extend .col-xs-12;
    }
    dl {
      padding-left: 10px;
    }
    a {
      @extend .thumbnail;
      padding: 0px;
    }
    ul {
      list-style: none;
      padding-left: 0px;
    }
  }
  #steps-content {
    @extend .container;  
  }
}