@mixin itps-steps-show {
  #hero-banner {
    &.completed {
      background-color: $success-color;
    }
    &.waiting_documents, &.rejected {
      background-color: $warning-color;
    }
    &.error {
      background-color: $danger-color;
    }
    &.needs_approval, &.waiting_final_approval {
      background-color: $hooray-color;
    }
    
    section {
      @extend .container;
      padding-top: 15px;
      padding-bottom: 15px;
      h1 {
        @extend .row;
        text-transform: uppercase;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: bold;
        color: $highlight-textcolor;
        .dash, .colon {
          text-transform: none;
          font-weight: normal;
        }
        .dash:after {
          content: "-";
        }
        .colon:after {
          content: ":";
        }
      }
    }
  }
  #steps-content {
    @extend .container;
    #cookie-crumbs {
      @extend .row;
      padding-top: 15px;
      ol {
        @extend .breadcrumb;
        @extend .col-lg-12;
        list-style: none;
        padding-left: 15px;
        margin-left: 15px;
      }
    }
    #basic-information, #executive-actions, #documents {
      h2 {
        @extend .col-lg-12;
        margin-left: 15px;
        padding-left: 0px;
        margin-top: 0px;
        border-bottom: $standard-border;
      }
    }
    #basic-information {
      @extend .row;
      dl {
        @extend .col-lg-6;
        @extend .col-md-6;
        @extend .col-sm-12;
        @extend .col-xs-12;
      }
    }
    #executive-actions {
      @extend .row;
      ul {
        list-style: none;
        padding-left: 0px;
        li {
          @extend .col-lg-2;
          @extend .col-md-3;
          @extend .col-sm-4;
          @extend .col-xs-12;
          a {
            @extend .thumbnail;
            text-align: center;
            figure {
              i {
                @extend .fa;
                @extend .fa-2x;
                &.edit {
                  @extend .fa-edit;
                }
                &.approve {
                  @extend .fa-check-circle-o;
                }
                &.document {
                  @extend .fa-file-o;
                }
                &.destroy {
                  @extend .fa-times;
                }
              }
            }
          }
        }
      }
    }
    #documents {
      @extend .row;
      margin-bottom: 20px;
      .parantheses {
        @extend .col-lg-12;
      }
      ul {
        list-style: none;
        padding-left: 0px;
        li {
          @extend .col-lg-3;
          @extend .col-md-6;
          @extend .col-sm-12;
          @extend .col-xs-12;
          dl {
            padding-left: 10px;
          }
          a {
            @extend .thumbnail;
            padding: 0px;
            h4 {
              padding-left: 10px;
              text-transform: capitalize;
              margin-top: 0px;
              padding-top: 5px;
              padding-bottom: 5px;
              color: $highlight-textcolor;
              i {
                @extend .fa;
                padding: 5px;
                border-radius: 5px;
              }
              &.rejected {
                background-color: $danger-color;
                i {
                  @extend .fa-times;
                }
              }
              &.approved {
                background-color: $success-color;
                i {
                  @extend .fa-checked;
                }
              }
              &.waiting_upload {
                background-color: $warning-color;
                i {
                  @extend .fa-upload;
                }
              }
              &.waiting_approval {
                background-color: $hooray-color;
                i {
                  @extend .fa-spinner;
                }
              }
            }
          }
        }
      }
    }
  }
}