- is_active = nav_tag.permalink == params[:id]
%li{ :class => is_active ? 'active' : 'inactive' }
  = link_to itps_doc_tag_path(nav_tag.permalink) do
    %i{ :class => nav_tag.permalink }
    = nav_tag.title
  - if nav_tag.children.count > 0
    %ul= render partial: 'itps/doc_tags/nav_tag', collection: nav_tag.children