@mixin itps-steps-documents-new {
  #hero-banner {
    background-color: $highlight-background;
    section {
      @extend .container;
      padding-top: 15px;
      padding-bottom: 15px;
      h1 {
        @extend .row;
        padding-left: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-transform: capitalize;
        color: $highlight-textcolor;
      }
    }
  }
  form {
    @extend .container;
    fieldset {
      @extend .row;
      dl, p, section {
        @extend .col-lg-4;
        @extend .col-md-6;
        @extend .col-sm-12;
        @extend .col-xs-12;
      }
      dl {
        @extend .form-group;
        dt {
          border-bottom: $standard-border;
          margin-bottom: 10px;
        }
        dd {
          input, textarea {
            @extend .form-control;
          }
        }
      }
      p {
        margin-top: 40px;
      }
    }
  }
}