@mixin itps-escrows-steps-new {
  #hero-banner {
    background-color: $highlight-background;
    legend {
      @extend .container;
      @extend .hidden-xs;
      @extend .hidden-sm;
      padding-top: 15px;
      padding-bottom: 15px;
      h1 {
        @extend .row;
        padding-left: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: $highlight-textcolor;
      }
    }
  }
  form {
    @extend .container;
    fieldset {
      @extend .row;
      &#cookie-crumbs {
        ol {
          @extend .breadcrumb;
          @extend .col-lg-12;
          @extend .col-md-12;
          @extend .col-sm-12;
          @extend .col-xs-12;
          margin-left: 15px;
        }
      }
      h3 {
        @extend .col-lg-12;
        border-bottom: $standard-border;
      }
      dl {
        @extend .col-lg-6;
        dd {
          @extend .form-group;
          input, textarea {
            @extend .form-control;
          }
        }
      }
      p {
        @extend .col-lg-6;
      }
      section {
        @extend .col-lg-6;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: $standard-border;
      }
    }
  }
}