// Endeavor to keep this file small!
@mixin shared-important {
  .field_with_errors {
    display: inline !important;
    label { 
      color: #641b04 !important;
    }
    input {
      border: 1px solid #641b04 !important;
    }
  }
  main > div {
    padding: 0px !important;
  }
}