@mixin shared-sidebar {
  @extend .col-lg-3;
  .active > a {
    font-weight: bold;
  }
  ul {
    background-color: #fffcf7;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    @extend .nav;
    li ul {
      margin-left: 10px;
      font-size: 12px;
    }
  }
}