@mixin shared-errors {
  @extend .panel;
  @extend .panel-danger;
  #error-heading-div {
    @extend .panel-heading;
    #error-header-h3 {
      @extend .panel-title;
      text-transform: capitalize;
      border: none;
      font-size: 16px;
      font-weight: bold;
      padding-left: 0px;
    }   
  }
  ul#error-body-ul {
    @extend .panel-body;
    list-style: none;
  }
}