@mixin shared-header {
  i {
    @extend .fa;
  }
  .logo, .toggle {
    border-bottom: $standard-border;
    padding-top: 10px;
    padding-bottom: 14px;
  }
  .logo {
    @extend .col-lg-2;
    @extend .col-md-2;
    @extend .col-sm-10;
    @extend .col-xs-10;
    text-align: left;
    a {
      padding-top: 10px;
      font-size: 32px;
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }
    &.active {
      border-bottom: 1px solid $highlight-background;
    }
  }
  .toggle {
    @extend .hidden-md;
    @extend .hidden-lg;
    @extend .col-sm-1;
    @extend .col-xs-1;
    @extend .pull-right;
    margin-right: 25px;
    font-size: 32px;
  }
  .hidden-to-mobile {
    @extend .hidden-xs;
    @extend .hidden-sm;
    @extend .visible-md;
    @extend .visible-lg;
  }
  li.main-nav {
    @extend .col-lg-2;
    @extend .col-md-3;
    @extend .col-sm-4;
    @extend .col-xs-4;
  }
  li.miscellanious {
    @extend .col-lg-2;
    @extend .col-lg-offset-4;
    @extend .col-md-2;
    @extend .col-md-offset-2;
    @extend .col-sm-4;
    @extend .col-xs-4;
  }
  li {
    @extend .really-bland-thumbnail;
    text-align: center;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    a {
      &:hover {
        text-decoration: none;
      }
      width: 100%;
      display: inline-block;
      height: 60px;
      color: $standard-linkcolor;
      font-weight: bold;
      padding-top: 18px;
    }
  }
  .active {
    background: $highlight-background;
    border-bottom: 1px solid $highlight-background;
    a {
      color: $highlight-textcolor;
    }
  }
  ul.navigation {
    padding-left: 0px;
    list-style: none;
  }
}