@import 'itps/home/index';
@import 'itps/home/faq';
@import 'itps/home/usage';
@import 'itps/home/aboutus';
@import 'itps/home/terms';
@import 'itps/home/documentation';
@import 'itps/home/pricing';
@import 'itps/escrows/new';
@import 'itps/escrows/steps/new';
@import 'itps/escrows/show';
@import 'itps/steps/show';
@import 'itps/documents/show';
@import 'itps/escrows/agreements/new';
@import 'itps/steps/documents/new';
@import 'itps/sessions/new';
@import 'itps/accounts/show';
@import 'itps/accounts/escrows/new';
@import 'itps/parties/escrows/index';
@import 'itps/accounts/preferences/index';
@import 'itps/home/status';
@import 'itps/parties/bank_accounts/new';
@import 'itps/escrows/edit';
@import 'itps/escrows/payment_instructions';
@import 'itps/parties/show';
@import 'itps/admins/money_transfers/index';
@import 'itps/accounts/fund_requests/new';
@import 'itps/buys/show';
@import 'itps/account_redirects/show';
@import 'itps/drafts/commodities/edit';
@import 'itps/drafts/documents/edit';
@mixin shared-main {
  padding: 0px;
  i {
    @extend .fa;
  }
  
  #home-index {
    @include itps-home-index;
  }
  #home-faq {
    @include itps-home-faq;
  }
  #home-usage {
    @include itps-home-usage;
  }
  #home-aboutus {
    @include itps-home-aboutus;
  }
  #home-terms, #home-legal {
    @include itps-home-terms;
  }
  #home-pricing {
    @include itps-home-pricing;
  }
  #doc_tags-index, 
  #doc_tags-show, 
  #documentations-show,
  #tags-show {
    @include itps-home-documentation;
  }
  #escrows-create, #escrows-new {
    @include itps-escrows-new;
  }
  #escrows-steps-create, #escrows-steps-new {
    @include itps-escrows-steps-new;    
  }
  #escrows-show {
    @include itps-escrows-show;
  }
  #steps-show {
    @include itps-steps-show;
  }
  #documents-show {
    @include itps-documents-show;
  }
  #escrows-agreements-new, 
  #escrows-agreements-create,
  #secret_keys-escrows-agreements-new {
    @include itps-escrows-agreements-new;
  }
  #steps-documents-new, #steps-documents-create {
    @include itps-steps-documents-new;
  }
  #sessions-new, #registrations-new {
    @include itps-sessions-new;
  }
  #accounts-show {
    @include itps-accounts-show;
  }
  #escrows-puts-edit,
  #escrows-puts-create {
    @include itps-escrows-edit;
  }
  #accounts-escrows-new,
  #accounts-escrows-create,
  #escrows-escrows-new,
  #escrows-escrows-create {
    @include itps-accounts-escrows-new;
    @include itps-escrows-new;
  }
  #parties-accounts-new, 
  #parties-accounts-create,
  #secret_keys-escrows-sessions-new,
  #secret_keys-escrows-registrations-new {
    @include itps-sessions-new;
  }
  #steps-edit {
    @include itps-escrows-steps-new;
  }
  #documents-edit {
    @include itps-steps-documents-new;
  }
  #parties-edit, #parties-update {
    @include itps-sessions-new;
  }
  #parties-escrows-index {
    @include itps-parties-escrows-index;
  }
  #accounts-preferences-index {
    @include itps-accounts-preferences-index;
  }
  #home-status {
    @include itps-home-status;
  }
  #parties-bank_accounts-new, 
  #parties-bank_accounts-create, 
  #bank_accounts-edit, 
  #bank_accounts-update {
    @include itps-parties-bank_accounts-new;
  }
  #escrows-payment_instructions {
    @include itps-escrows-payment_instructions;
  }
  #parties-show,
  #parties-bank_accounts-index {
    @include itps-parties-show;
  }
  #escrows-money_transfers-index {
    @include itps-admins-money_transfers-index;
  }
  #accounts-fund_requests-new,
  #accounts-fund_requests-create,
  #fund_requests-edit,
  #fund_requests-update {
    @include itps-accounts-fund_requests-new;
  }
  #buys-show,
  #sells-show,
  #miscellanious-show {
    @include itps-buys-show;
  }
  #account_redirects-show {
    @include itps-account_redirects-show;
  }
  #drafts-commodities-edit,
  #drafts-commodities-update,
  #drafts-commodities-items-create {
    @include itps-drafts-commodities-edit;
  }
  #drafts-documents-edit,
  #drafts-documents-update {
    @include itps-drafts-documents-edit;
  }
}