@import 'itps/home/index';
@import 'itps/home/faq';
@import 'itps/home/usage';
@import 'itps/home/aboutus';
@import 'itps/home/terms';
@import 'itps/home/documentation';
@import 'itps/escrows/new';
@import 'itps/escrows/steps/new';
@import 'itps/escrows/show';
@import 'itps/steps/show';
@import 'itps/documents/show';
@import 'itps/escrows/agreements/new';
@import 'itps/steps/documents/new';
@import 'itps/sessions/new';
@import 'itps/accounts/show';
@import 'itps/accounts/escrows/new';
@import 'itps/parties/escrows/index';

@mixin shared-main {
  #home-index {
    @include itps-home-index;
  }
  #home-faq {
    @include itps-home-faq;
  }
  #home-usage {
    @include itps-home-usage;
  }
  #home-aboutus {
    @include itps-home-aboutus;
  }
  #home-terms {
    @include itps-home-terms;
  }
  #home-legal {
    @include itps-home-terms;
  }
  #home-documentation {
    @include itps-home-documentation;
  }
  #escrows-create, #escrows-new {
    @include itps-escrows-new;
  }
  #escrows-steps-create, #escrows-steps-new {
    @include itps-escrows-steps-new;    
  }
  #escrows-show {
    @include itps-escrows-show;
  }
  #steps-show {
    @include itps-steps-show;
  }
  #documents-show {
    @include itps-documents-show;
  }
  #escrows-agreements-new, #escrows-agreements-create {
    @include itps-escrows-agreements-new;
  }
  #steps-documents-new {
    @include itps-steps-documents-new;
  }
  #sessions-new, #registrations-new {
    @include itps-sessions-new;
  }
  #accounts-show {
    @include itps-accounts-show;
  }
  #accounts-escrows-new, #accounts-escrows-create {
    @include itps-accounts-escrows-new;
    @include itps-escrows-new;
  }
  #parties-accounts-new, #parties-accounts-create {
    @include itps-sessions-new;
  }
  #steps-edit {
    @include itps-escrows-steps-new;
  }
  #documents-edit {
    @include itps-steps-documents-new;
  }
  #parties-edit, #parties-update {
    @include itps-sessions-new;
  }
  #parties-escrows-index {
    @include itps-parties-escrows-index;
  }
}