@import 'itps/home/index';
@import 'itps/home/faq';
@import 'itps/home/usage';
@import 'itps/home/aboutus';
@import 'itps/home/terms';
@import 'itps/home/documentation';
@import 'itps/escrows/new';
@import 'itps/escrows/steps/new';
@import 'itps/escrows/show';
@import 'itps/steps/show';
@import 'itps/escrows/edit';
@mixin shared-main {
  #home-index {
    @include itps-home-index;
  }
  #home-faq {
    @include itps-home-faq;
  }
  #home-usage {
    @include itps-home-usage;
  }
  #home-aboutus {
    @include itps-home-aboutus;
  }
  #home-terms {
    @include itps-home-terms;
  }
  #home-legal {
    @include itps-home-terms;
  }
  #home-documentation {
    @include itps-home-documentation;
  }
  #escrows-create, #escrows-new {
    @include itps-escrows-new;
  }
  #escrows-steps-create, #escrows-steps-new {
    @include itps-escrows-steps-new;    
  }
  #escrows-show {
    @include itps-escrows-show;
  }
  #steps-show {
    @include itps-steps-show;
  }
  #escrows-edit {
    @include itps-escrows-edit;
  }
}