$standard-border: 1px solid #d5d5d5;
$highlight-background: #3e86ac;
$highlight-textcolor: #ebebeb;
$standard-linkcolor: #6f7c82;
$warning-color: #ed9c28;
$danger-color: #d2322d;
$success-color: #3e86ac;
$hooray-color: #47a447;
$edit-color: #6e6d71;