@mixin itps-escrows-agreements-new {
  #hero-banner {
    background-color: $highlight-background;
    section {
      @extend .container;
      padding-top: 15px;
      padding-bottom: 15px;
      h1 {
        @extend .row;
        padding-left: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-transform: capitalize;
        color: $highlight-textcolor;
      }
      .colon:after {
        content: ":";
      }
    }
  }
  i {
    @extend .fa;
    &.login {
      @extend .fa-user;
    }
    &.signup {
      @extend .fa-edit;
    }
  }
  #backwards-thing-whatever {
    margin-top: 15px;
    margin-left: 0px;
    a {
      font-size: 18px;
      font-weight: bold;
    }
  }
  #terms {
    article {
      @extend .col-lg-8;
      @extend .col-md-12;
      @extend .col-sm-12;
      @extend .col-xs-12;
    }
  }
  form {
    margin-top: 5px;
    fieldset {
      @extend .col-lg-8;
      @extend .col-md-12;
      @extend .col-sm-12;
      @extend .col-xs-12; 

      &:first-child { 
        padding-top: 10px;
        border-top: $standard-border;
      }
    }
  }
  #agreement-content {
    margin-bottom: 20px;
  }
  #actions {
    h2 {
      padding-left: 15px;
    }
  }
  .action {
    @extend .col-lg-4;
    @extend .col-md-4;
    @extend .col-sm-6;
    @extend .col-xs-6;
  }
}