@mixin itps-admins-money_transfer {
  @extend .row;
  @extend .really-bland-thumbnail;
  a:hover {
    text-decoration: none;
  }
  h4 {
    padding-left: 15px;
    border-bottom: $standard-border;
    i {
      @extend .fa;
      @extend .fa-dollar;
    }
    .colon:after {
      content: ":";
    }
  }
}