@mixin itps-admins-money_transfers-money_transfer {
  @extend .row;
  @extend .really-bland-thumbnail;
  &.inbound_unclaimed, &.inbound_claimed, &.outbound {
    i {
      @extend .fa-dollar;
    }
  }
  &.edit_mode i {
    @extend .fa-pencil;
  }
  &.approved i {
    @extend .fa-check;
  }
  &.rejected i {
    @extend .fa-times;
  }
  &.waiting_upload i {
    @extend .fa-spinner;
  }
  &.waiting_approval i {
    @extend .fa-exclamation;
  }
  &.error i {
    @extend .fa-exclamation-triangle;
  }
  a:hover {
    text-decoration: none;
  }
  padding: 0px;
  h4 {
    @extend .col-lg-12;
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-xs-12;
    border-bottom: $standard-border;
    text-transform: capitalize;
    padding-bottom: 10px;
    i {
      @extend .fa;
    }
  }
  dl {
    @extend .col-lg-4;
    @extend .col-md-4;
    @extend .col-sm-6;
    @extend .col-xs-6;
    padding-left: 15px;
  }
}