@mixin itps-escrows-edit {
  #hero-banner {
    background-color: $highlight-background;
    section {
      @extend .container;
      padding-top: 15px;
      padding-bottom: 15px;
      h1 {
        @extend .row;
        padding-left: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: $highlight-textcolor;
      }
    }
  }
  #escrow-edit-content {
    @extend .container;
    form {
      margin-bottom: 20px;
      
      fieldset {
        @extend .row;

        section {
          @extend .col-lg-6;
          @extend .col-md-6;
          @extend .col-sm-12;
          @extend .col-xs-12;
          
        }
        h3 {
          border-bottom: $standard-border;
        }
        dl {
          dd {
            @extend .form-group;
            input {
              @extend .form-control;
            }
          }
        }
      }
    }
  }
}