@mixin itps-escrows-new {
  #hero-banner {
    background-color: $highlight-background;
    legend {
      @extend .container;
      @extend .hidden-xs;
      @extend .hidden-sm;
      padding-top: 15px;
      padding-bottom: 15px;
      h1 {
        @extend .row;
        padding-left: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: $highlight-textcolor;
      }
    }
  }
  form {
    @extend .container;
    fieldset {
      @extend .row;
      h3 {
        @extend .col-lg-12;
        border-bottom: $standard-border;
      }
      article {
        @extend .col-lg-6;
        dl {
          &:last-child {
            @extend .dl-horizontal;
            dt {
              float: left;
              text-align: left;
              width: 190px;
            }
            dd {
              text-align: left;
              margin-left: 190px;
              input {
                width: 35px;
              }
            }
          }
          dd {
            @extend .form-group;
            input {
              @extend .form-control;
            }
          }
        }
      }
      section {
        @extend .col-lg-6;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: $standard-border;
      }
    }
  }
}