@mixin itps-escrows-show {
  #hero-banner {
    color: $highlight-textcolor;
    &.deleted {
      background-color: $danger-color;
    }
    &.opened {
      background-color: $success-color;
    }
    &.completed {
      background-color: $hooray-color;
    }
    &.edit_mode {
      background-color: $warning-color;
    }
    &.active {
      background-color: $success-color;
    }
    &.waiting_for_other_party {
      background-color: $warning-color;
    }
    &.error {
      background-color: $danger-color;
    }
    section {
      @extend .container;
      padding-top: 15px;
      padding-bottom: 15px;
      h1 {
        @extend .row;
        text-transform: uppercase;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: bold;
        .colon {
          text-transform: none;
          font-weight: normal;
          &:after {
            content: ":";
          }
        }
      }
    }
  }
  #content-box {
    @extend .container;
    margin-bottom: 20px;
    #basic-information, #actions, #steps-to-completion, #warning-messages {
      @extend .row;
      h2 {
        @extend .col-lg-12;
        border-bottom: $standard-border;
      }
    }
    #warning-messages {
      @extend .jumbotron;
      h5 {
        @extend .col-lg-12;
        font-size: 20px;
        span.label {
          @extend .label-warning;
        }
      }
    }
    #basic-information {
      dl {
        @extend .col-lg-4;
        @extend .col-md-4;
        @extend .col-sm-12;
        @extend .col-xs-12;
      }
    }
    #actions {
      ul {
        list-style: none;
        padding-left: 0px;
        li {
          @extend .col-lg-2;
          @extend .col-md-3;
          @extend .col-sm-6;
          @extend .col-xs-12;
          a {
            @extend .thumbnail;
            text-align: center;
            font-size: 16px;
            figure {
              i {
                @extend .fa;
                @extend .fa-2x;
                &.mark-ready {
                  @extend .fa-lock;
                }
                &.add-step {
                  @extend .fa-plus-circle;
                }

                &.destroy-escrow {
                  @extend .fa-exclamation-triangle;
                }
                &.edit {
                  @extend .fa-edit;
                }
                &.login {
                  @extend .fa-user;
                }
              }
            }
          }
        }
      }
    }
    #steps-to-completion {
      h6 {
        @extend .col-lg-12;
        font-size: 16px;
        &:before {
          content: "(";
        }
        &:after {
          content: ")";
        }
        a {
          i {
            @extend .fa;
            @extend .fa-plus-circle;
          }
        }
      }
      ol {
        @extend .col-lg-12;
        list-style: none;
        padding-left: 15px;
        li {
          @extend .thumbnail;
          margin-left: 0px;
          padding: 0px;
          article {
            @extend .row;
            margin-left: 0px;
            margin-right: 0px;
            i {
              @extend .fa;
            }
            dl {
              @extend .col-lg-4;
              @extend .col-md-4;
              @extend .col-sm-6;
              @extend .col-xs-12;
            }
            &.completed {
              background-color: $success-color;
              h4 {
                color: $highlight-textcolor;
              }
              i {
                @extend .fa-checked;
              }
            }
            &.waiting_documents {
              background-color: none;
              border-bottom: $standard-border;
              h4 {
                color: $standard-linkcolor;
              }
              i {
                @extend .fa-spinner;
              }
            }
            &.needs_approval {
              background-color: none;
              border-bottom: $standard-border;
              h4 {
                color: $standard-linkcolor;
              }
              i {
                @extend .fa-ellipsis-h;
              }
            }
            &.rejected {
              background-color: $danger-color;
              h4 {
                color: $highlight-textcolor;
              }
              i {
                @extend .fa-exclamation-circle;
              }
            }
            &.standby {
              background-color: $warning-color;
              h4 {
                color: $highlight-textcolor;
              }
              i {
                @extend .fa-exclamation-triangle;
              }
            }
            &:first-child {
              a {
                @extend .col-lg-1;
                @extend .col-sm-2;
                @extend .col-xs-2;
                &:first-child {
                  @extend .col-lg-8;
                  @extend .col-sm-6;
                  @extend .col-xs-6;
                  text-align: left;
                }
                &:last-child {
                  @extend .col-lg-2;
                  @extend .col-sm-2;
                  @extend .col-xs-2;
                  text-align: right;
                }
                figure {
                  margin-top: 5px;
                  i {
                    @extend .fa-2x;
                    &.up {
                      @extend .fa-arrow-circle-up;
                    }
                    &.down {
                      @extend .fa-arrow-circle-down;
                    }
                    &.destroy {
                      @extend .fa-times-circle;
                    }
                  }
                }
                h4 {
                  text-transform: capitalize;
                  margin-top: 0px;
                  margin-bottom: 0px;
                  padding-top: 10px;
                  padding-bottom: 10px;
                  
                  .colon:after {
                    content: ":";
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}