@mixin itps-escrows-tos {
  #hero-banner {
    background-color: $highlight-background;
    section {
      @extend .container;
      padding-top: 15px;
      padding-bottom: 15px;
      h1 {
        @extend .row;
        padding-left: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-transform: capitalize;
        color: $highlight-textcolor;
      }
      .colon:after {
        content: ":";
      }
    }
  }
  #agreement-content {
    @extend .container;
    margin-bottom: 20px;
    section {
      @extend .row;
      article {
        @extend .col-lg-8;
        @extend .col-md-12;
        @extend .col-sm-12;
        @extend .col-xs-12;
      }
    }
    form {
      @extend .row;
      margin-top: 15px;
      fieldset {
        @extend .col-lg-8;
        @extend .col-md-12;
        @extend .col-sm-12;
        @extend .col-xs-12; 

        &:first-child { 
          padding-top: 10px;
          border-top: $standard-border;
        }
      }
    }
  }
}