@mixin itps-home-documentation {
  #hero-banner {
    background-color: $highlight-background;
    section {
      @extend .container;
      padding-top: 15px;
      padding-bottom: 15px;
      h1 {
        @extend .row;
        padding-left: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-transform: capitalize;
        color: $highlight-textcolor;
      }
      .colon:after {
        content: ":";
      }
    }
  }
  #meat-and-bones {
    @extend .container;
    border-top: $standard-border;
    i {
      @extend .fa;
    }
    section {
      @extend .row;
      #left-navigation {
        @extend .col-lg-3;
        .active {
          text-decoration: underline;
        }
        >ul {
          @extend .thumbnail;
          @extend .nav;
          @extend .nav-pills;
          @extend .nav-stacked;
          list-style: none;
          margin-top: 20px;
          padding-left: 0px;
          padding-right: 0px;
          >li {
            font-weight: bold;
            text-transform: capitalize;
            a { 
              color: $standard-linkcolor;
            }
            i {
              &.documentation {
                @extend .fa-book;
              }
              &.references {
                @extend .fa-archive;
              }
              &.accessibility {
                @extend .fa-phone-square;
              }
              &.faq {
                @extend .fa-info-circle;
              }
              &.other {
                @extend .fa-suitcase;
              }
            }
          }
        }
      }
      #right-content {
        @extend .col-lg-9;
        article, #admin-actions {
          @extend .row;
          h3, h4 {
            border-bottom: $standard-border;
            padding-bottom: 5px;
            margin-bottom: 15px;
            text-transform: capitalize;
          }
          h4 {
            margin-top: 20px;
          }
        }
        #admin-actions {
          ul {
            list-style: none;
            padding-left: 0px;
            li {
              @extend .col-lg-2;
              @extend .col-md-3;
              @extend .col-sm-4;
              @extend .col-xs-6;
              padding-left: 0px;
              a {
                @extend .thumbnail;
                text-align: center;
              }
              i {
                @extend .fa;
                @extend .fa-2x;
                &.new-tag {
                  @extend .fa-tag;
                }
                &.new-doc {
                  @extend .fa-file;
                }
              }
            }
          }
        }
      }
    }
  }
}