@mixin itps-home-index_dual-box-trick {
  padding-bottom: 30px;            
  padding-left: 30px;
  padding-right: 30px;
  h1, p, figure {
    color: $highlight-textcolor;
    opacity: 1;  
  }

}

@mixin itps-home-index {
  .desktop {
    @extend .hidden-xs;
    @extend .hidden-sm;
    @extend .visible-md;
    @extend .visible-lg;
  }
  .mobile {
    @extend .visible-xs;
    @extend .visible-sm;
    @extend .hidden-md;
    @extend .hidden-lg;
  }
  #mobile-banner {
    @extend .mobile;
    @extend .container;
    ul {
      @extend .row;
      padding-left: 0px;
      list-style: none;
      li {
        @extend .col-sm-12;
        @extend .col-xs-12;
        padding-left: 0px;
        a {
          @extend .btn;
          @extend .btn-lg;
          @extend .btn-block;
          @extend .btn-default;
          font-size: 18px;
          i {
            @extend .fa;
            @extend .fa-2x;
            &.account {
              @extend .fa-user;
            }
            &.escrows {
              @extend .fa-archive;
            }
            &.new-escrow {
              @extend .fa-edit;
            }
            &.login {
              @extend .fa-user;
            }
          }
        }
      }
    }
  }
  #hero-banner {
    @extend .desktop;
    background-color: $highlight-background;
    background: url('/itps/dog1.jpg');
    &.dog1 {
      background: url('/itps/dog2.jpg');
    }
    &.dog2 {
      background: url('/itps/dog3.jpg');
    }
    border-bottom: $standard-border;
    section {
      @extend .container;
      
      ul {
        @extend .row;
        margin-top: 0px;
        margin-bottom: 0px;
        list-style: none;
        li {
          .transparent-box, .opaque-box {
            @extend .col-lg-5;
            @extend .col-md-8;
            @include itps-home-index_dual-box-trick;
            .call-to-action {
              a {
                @extend .btn;
                @extend .btn-success;
                @extend .btn-block;
                @extend .btn-lg;
                font-size: 18px;
              }
            }
            .carousel {
              margin-top: 10px;
              text-align: center;
              a {
                color: $standard-linkcolor;
                font-size: 16px;
              }
              i {
                @extend .fa;
              }
              span.active {
                i {
                  @extend .fa-circle;
                }
              }
              span.inactive {
                i {
                  @extend .fa-circle-o;
                }
              }
            }
          }
          .transparent-box {
            @extend .visible-lg;
            @extend .hidden-md;
            @extend .hidden-sm;
            @extend .hidden-xs;
            background-color: $highlight-background;
            position: relative;
            right: 470px;
            opacity: 0.7;
          }
          .opaque-box {
            opacity: 1;
            @media (max-width: 1200px) {
              background-color: $highlight-background;
            }
          }
          &:nth-child(2), &:last-child { 
            display: none;
          }
          h1 {
            margin-top: 20px;
          }
          p {
            font-size: 22px;
          }
        }
      }  
    }
  }
  #basic-usage-explanation {
    @extend .container;
    ul {
      @extend .row;
      list-style: none;
      li {
        @extend .col-lg-4;
        @extend .col-md-4;
        border-right: $standard-border;
        margin-top: 20px;
        &:last-child {
          border-right: none;
        }
        h1 {
          text-transform: capitalize;
        }
        figure {
          text-align: center;
          margin-bottom: 10px;
        }
        i {
          @extend .fa;
          @extend .fa-linux;
          @extend .fa-4x;
        }
        p {
          font-size: 15px;
          .parentheses {
            &:before {
              content: '( ';
            }
            &:after {
              content: ' )';
            }
          }
        }
        a {
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
  #available-services {
    @extend .thumbnail;
    margin-top: 20px;
    margin-bottom: 0px;
    article {
      @extend .container;
      margin-top: 20px;
      
      ul {
        @extend .row;
        list-style: none;

        li {
          @extend .col-lg-1;
          @extend .col-md-1;
          text-align: center;
          i {
            @extend .fa;
            @extend .fa-3x;
            @extend .fa-linux;
          }
          h6 {
            font-weight: bold;
          }
        }
      }
    }
  }
}