@mixin itps-home-terms {
  #hero-banner {
    background-color: $highlight-background;
    section {
      @extend .container;
      @extend .hidden-xs;
      @extend .hidden-sm;
      padding-top: 15px;
      padding-bottom: 15px;
      h1 {
        @extend .row;
        padding-left: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: $highlight-textcolor;
      }
    }
  }
  #legal-terms-content {
    margin-top: 20px;
    margin-bottom: 20px;
    @extend .container;
    section {
      @extend .row;
      h2 {
        a {
          font-size: 14px;
          &:before {
            content: "(";
          }
          &:after {
            content: ")";
          }
        }
      }
      h2, h3, p {
        @extend .col-lg-8;
      }
      h2, h3 {
        border-bottom: $standard-border;
        padding-left: 0px;
        margin-left: 15px;
      }
    }
  }
}