%section#terms
  %article
    %h3 Human Readable Terms of Service Agreement
    %p
      = "The following is an easily-readable terms of service agreement."
      = link_to "the full legal version can be found here.", itps_terms_path, target: '_blank'
  %article
    %h3 Good Faith
    %p You agree to abide by the escrow contract, be reasonable, uphold your part of the bargain, and keep good faith in both negotiation and fulfillment of the terms of the contract.
  %article
    %h3 Legality
    %p You agree to not doing anything illegal, or force the other party to do anything illegal through this contract.
  %article
    %h3 Consequences
    %p In the event of extenuating circumstances such that prevents the fulfillment of the party, you agree that you may be forced to pay the consequences as specified by the contract.
  %article
    %h3 This is a Contract With The Other Party, Not Us
    %p GTPC merely provides you a platform for you to host your contracts. We do not enforce the contracts in anyway, nor do we participate in arbitration of legal problems should they arise between you and the other party.